body{
    background-color: cornsilk;
}
.bR{
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}
.bB{
    border: 2px solid black;
    padding: 20px;
    background-color: cornsilk;
}
.lolo
{
   height: 100px;
    background-color: aqua;
}
.hosh
{
        position: absolute !important;

    width: 20%;
     height: 200px;
    margin: auto;
      margin-top: 50px;
    background-color: aqua;
}
.lal
{
    left: 80%;
}